@using Microsoft.AspNetCore.Authorization
@inject UserManager<User> userManager
@inject IAuthorizationService authorizationService
@{
    var isTeacher = false;
    var isAdmin = false;
    var isStudent = false;
    var userContext = Context.User;
    if (userContext is not null)
    {
        var user = await userManager.GetUserAsync(userContext);
        if (user is not null)
        {
            isTeacher = (await authorizationService.AuthorizeAsync(User, "Teacher")).Succeeded;
            isAdmin = (await authorizationService.AuthorizeAsync(User, "Admin")).Succeeded;
            isStudent = (await authorizationService.AuthorizeAsync(User, "Student")).Succeeded;
        }
    }
}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuickFinder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/group_finder.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column h-100 m-0">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="@StudentRoutes.Home()">QuickFinder</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="@StudentRoutes.Home()">Home</a>
                        </li>
                        @if (isStudent)
                        {
                            <li class="nav-item dropdown show-on-hover">
                                <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button"
                                    aria-expanded="false">
                                    Student pages
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="Identity"
                                            asp-page="@StudentRoutes.Profile()">Profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="@StudentRoutes.Preferences()">Preferences</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="@StudentRoutes.Matching()">Find group</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="@StudentRoutes.Groups()">Your groups</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (isTeacher || isAdmin)
                        {
                            <li class="nav-item dropdown show-on-hover">
                                <a class="nav-link dropdown-toggle text-dark" id="teacherDropdown" role="button"
                                    aria-expanded="false">
                                    Teacher pages
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-page="@TeacherRoutes.CourseOverview()">Course
                                            overview</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="@TeacherRoutes.CreateCourse()">Create new
                                            Course</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (isAdmin)
                        {
                            <li class="nav-item dropdown show-on-hover">
                                <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button"
                                    aria-expanded="false">
                                    Admin pages
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-page="@AdminRoutes.MatchmakingOverview()">Matchmaking
                                            overview</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="@AdminRoutes.UserOverview()">User overview</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-page="@AdminRoutes.Servers()">Server overview</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted py-3 mt-auto">
        <div class="container d-flex justify-content-between align-items-center">
            <span>
                &copy; 2025 - QuickFinder - <a class="text-decoration-none" asp-page="/Privacy">Privacy</a>
                - <a class="text-decoration-none" asp-area="Identity" asp-page="/Account/Login">Admin</a>
            </span>

            @if ((await authorizationService.AuthorizeAsync(User, "Student")).Succeeded)
            {
                <a href="https://discord.gg/W8twZqauKf" class="btn btn-primary">Join the QuickFinder
                    Discord Server</a>
            }
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>