@page
@model Teacher.EditGroupModel
@inject UserService userService;
@{
    ViewData["Title"] = "Edit Page";
}

<a asp-page="@TeacherRoutes.CourseOverview()" asp-route-courseId="@Model.CourseId">go back</a>

@if (Model.Group is not null && Model.Members is not null)
{
    <div class="text-center">
        <h1 class="display-4">Edit Group @Model.Group.Id</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Group.Members)
                {
                    <tr>
                        <td>@await userService.GetName(member)</td>
                        <td>
                            <form asp-page-handler="DeleteMember" method="post">
                                <input hidden value="@member.Id" name="userId">
                                <input hidden value="@Model.Group.Id" name="groupId">
                                <button class="btn btn-danger">
                                    <i class="bi-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Edit Group</h1>
        <p>No group found</p>
    </div>
}