@page
@model Admin.UserOverviewModel
@inject UserService userService;
@{
    ViewData["Title"] = "User Overview";
}

<div class="text-center">
    <h1 class="display-4">User Overview</h1>

    <form asp-page-handler="Search" method="post" class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search username..." asp-for="SearchQuery">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <div class="row">
        <div class="col-md-6">
            <h2>Teachers</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Teachers)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@await userService.GetName(user)</td>
                            <td>
                                <form asp-page-handler="RemoveTeacher" method="post">
                                    <input hidden asp-route="SearchQuery" value="@Model.SearchQuery" name="searchQuery">
                                    <input hidden value="@user.Id" name="userId">
                                    <button class="btn btn-danger">
                                        <i class="bi-x"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h2>Admins</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Admins)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@await userService.GetName(user)</td>
                            <td>
                                <form asp-page-handler="RemoveAdmin" method="post">
                                    <input hidden asp-route="SearchQuery" value="@Model.SearchQuery" name="searchQuery">
                                    <input hidden value="@user.Id" name="userId">
                                    <button class="btn btn-danger">
                                        <i class="bi-x"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <h2>Users</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@await userService.GetName(user)</td>
                    <td>
                        <form asp-page-handler="MakeTeacher" method="post">
                            <input hidden asp-route="SearchQuery" value="@Model.SearchQuery" name="searchQuery">
                            <input hidden value="@user.Id" name="userId">
                            <button class="btn btn-primary">
                                <i class="bi-check"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>