@page
@model StudentsModel
@{
    ViewData["Title"] = "Students";
}
@* //TODO: make available only to admins *@
<div class="text-center">
    <h1 class="display-4">Students list</h1>
    <a asp-page="/AddStudents" class="btn btn-primary">Add Student</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Availability</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.Person.Name</td>
                    <td>@student.Person.Criteria.Availability</td>
                    <td>
                        <a asp-page="/EditStudent" asp-route-id="@student.Id" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Groups</p>
    <div>
        <form asp-page-handler="Match" method="post">
            <button class="btn btn-primary">MATCH</button>
        </form>
        <form asp-page-handler="Reset" method="post">
            <button class="btn btn-secondary">RESET</button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Availability</th>
                <th>Complete</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.Groups)
            {
                <tr>
                    <td>@group.Id</td>
                    <td>
                        @foreach (var member in group.Members)
                        {
                            <p>@member.Name - @member.Criteria.Availability</p>
                        }
                    </td>
                    <td>
                        @if (group.IsComplete)
                        {
                            <p>@group.Members.Count / @group.GroupLimit</p>
                        }
                        else
                        {
                            <p>@group.Members.Count / @group.GroupLimit</p>
                        }
                    </td>
                    <td>
                        <a asp-page="/EditStudent" asp-route-id="@group.Id" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
