@page
@model StudentsModel
@inject UserService userService;
@{
    ViewData["Title"] = "Students";
}
@* //TODO: make available only to admins *@
<div class="text-center">
    <h1 class="display-4">Students list</h1>
    <a asp-page="/AddStudents" class="btn btn-primary">Add Student</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Course</th>
                <th>Availability</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.Students)
            {
                <tr>
                    <td>@await userService.GetName(ticket.User)</td>
                    <td>@ticket.Course.Name</td>
                    <td>@ticket.User.Preferences.Availability</td>
                    <td>
                        <a asp-page="/EditStudent" asp-route-id="@ticket.Id" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Groups</p>
    <div>
        <form asp-page-handler="Match" method="post">
            <button class="btn btn-primary">MATCH</button>
        </form>
        <form asp-page-handler="Reset" method="post">
            <button class="btn btn-secondary">RESET</button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Course</th>
                <th>Members</th>
                <th>Complete</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.Groups)
            {
                <tr>
                    <td>@group.Id</td>
                    <td>@group.Course.Name</td>
                    <td>
                        @foreach (var member in group.Members)
                        {
                            <p>@await userService.GetName(member)</p>
                        }
                    </td>
                    <td>
                        <p>@group.Members.Count / @group.GroupLimit</p>
                    </td>
                    <td>
                        <a asp-page="/EditGroup" asp-route-id="@group.Id" asp-page-handler="EditGroup" class="btn btn-primary"><i class="bi-pencil"></i></a>
                        <form asp-page-handler="DeleteGroup" asp-route-id="@group.Id"  method="post">
                            <button class="btn btn-danger">
                                <i class="bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
