@page
@model TestModel
@using Domain.DiscordDomain
@inject DiscordService discord
@inject UserService userService
@inject UserManager<User> userManager
@{
    ViewData["Title"] = "Test";
    var headers = HttpContext.Request.Headers.Select(h => $"{h.Key}: {h.Value}");
    var user = await userManager.GetUserAsync(User) ?? throw new Exception("User not found");
    var userServers = await userService.GetUserDiscordServers(user);
    var discordUserId = await userService.GetDiscordId(user.Id);
}

<h2>Test</h2>
@($"{HttpContext.Request.Scheme}://{HttpContext.Request.Host}{HttpContext.Request.Path}{HttpContext.Request.QueryString}")

<details title="Headers">
    <summary>Headers</summary>

    @foreach (var val in headers)
    {
        <p>@val</p>
    }
</details>

<form method="post">
    <button type="submit">TEST</button>
</form>
<p>@Model.TestResult</p>
<p>Current Timestamp: @DateTime.Now</p>



<details>
    <summary>
        <h2 style="display: inline;">Your servers (@userServers.Count())</h2>
    </summary>
    @foreach (var server in userServers)
    {
        <div style="display: flex;">
            <img src="@server.IconUrl" width="32px" height="32px" loading="lazy" alt="Server Icon" />
            <p>@server.Name (@server.Id)</p>
        </div>
    }

    <form method="post" asp-page-handler="AddServer">
        <input id="serverId" name="serverId" />
        <button type="submit">
            Add
        </button>
    </form>
</details>


<h2>Course Servers</h2>
<section style="border:  2px solid rgb(174, 4, 4); border-radius: 5px; padding: 4px;">

    @foreach (var server in await discord.GetServerList())
    {
        <p>@server.Name (@server.Id)</p>
    }

    <form method="post" asp-page-handler="AddServer">
        <input id="serverId" name="serverId" />
        <button type="submit">
            Add
        </button>
    </form>
</section>

<h2>Bot Servers</h2>
<section style="border:  2px solid rgb(174, 112, 4); border-radius: 5px; padding: 4px;">

    @foreach (var server in discord.GetBotServers())
    {
        <p>@server.Name (@server.Id)</p>
    }
</section>

<h2>servers that be added</h2>
<section style="border:  2px solid rgb(4, 146, 174); border-radius: 5px; padding: 4px;">

    @foreach (var server in discord.GetServersThatCanBeAdded((ulong)discordUserId))
    {
        <div style="display: flex;">
            <p>@server.Name (@server.Id)</p>
            <form method="post" asp-page-handler="AddServer" asp-route-serverId="@server.Id">
                <button type="submit">
                    Add
                </button>
            </form>
        </div>
    }

</section>

<a href="@discord.InviteURL" target="_blank">Invite Bot</a>

<h2>Channels</h2>

<section style="border:  2px solid rgb(4, 174, 44); border-radius: 5px; padding: 4px;">
    @foreach (var channel in discord.GetChannels())
    {
        <div style="display: flex;">
            <p>@channel.Name (@channel.Id) @channel.Category</p>
            <form method="post" asp-page-handler="DeleteChannel" asp-route-id="@channel.Id">
                <button type="submit">
                    X
                </button>
            </form>
            <form method="post" asp-page-handler="SetChannelPermissions" asp-route-id="@channel.Id">
                <button type="submit">
                    Perms
                </button>
            </form>
        </div>


    }

</section>
