@page
@model TestModel
@inject DiscordBotService discord
@{
    ViewData["Title"] = "Test";
    var headers = HttpContext.Request.Headers.Select(h => $"{h.Key}: {h.Value}");
}

<h2>Test</h2>
@($"{HttpContext.Request.Scheme}://{HttpContext.Request.Host}{HttpContext.Request.Path}{HttpContext.Request.QueryString}")

<details title="Headers">
    <summary>Headers</summary>

    @foreach (var val in headers)
    {
        <p>@val</p>
    }
</details>

<form method="post">
    <button type="submit">TEST</button>
</form>
<p>@Model.TestResult</p>
<p>Current Timestamp: @DateTime.Now</p>

@foreach (var channel in discord.GetChannels())
{
    <p>@channel.Name (@channel.Id)</p>
}
