@page
@model TestModel
@using Domain.DiscordDomain
@using Domain.Matchmaking
@inject DiscordService discord
@inject UserService userService
@inject UserManager<User> userManager
@inject MatchmakingService matchmakingService
@{
    ViewData["Title"] = "Test";
    var headers = HttpContext.Request.Headers.Select(h => $"{h.Key}: {h.Value}");
    var user = await userManager.GetUserAsync(User) ?? throw new Exception("User not found");
    var discordUserId = await userService.GetDiscordId(user.Id);

    var matchmaker = new Matchmaker<TestCandidate>(new MatchmakerConfig());
}

<h2>Test</h2>
@($"{HttpContext.Request.Scheme}://{HttpContext.Request.Host}{HttpContext.Request.Path}{HttpContext.Request.QueryString}")

<details title="Headers">
    <summary>Headers</summary>

    @foreach (var val in headers)
    {
        <p>@val</p>
    }
</details>

<form method="post">
    <button type="submit">TEST</button>
</form>
<p>@Model.TestResult</p>
using QuickFinder.Domain.Matchmaking;
using QuickFinder.Domain.Matchmaking;
p>Current Timestamp: @DateTime.Now</p>



<details>



    <form method="post" asp-page-handler="AddServer">
        <input id="serverId" name="serverId" />
        <button type="submit">
            Add
        </button>
    </form>
</details>


<h2>Course Servers</h2>
<section style="border:  2px solid rgb(174, 4, 4); border-radius: 5px; padding: 4px;">

    @foreach (var server in await discord.GetServerList())
    {
        <p>@server.Name (@server.Id)</p>
    }

    <form method="post" asp-page-handler="AddServer">
        <input id="serverId" name="serverId" />
        <button type="submit">
            Add
        </button>
    </form>
</section>

<h2>Bot Servers</h2>
<section style="border:  2px solid rgb(174, 112, 4); border-radius: 5px; padding: 4px;">

    @foreach (var server in discord.GetBotServers())
    {
        <p>@server.Name (@server.Id)</p>
    }
</section>

<h2>servers that be added</h2>
<section style="border:  2px solid rgb(4, 146, 174); border-radius: 5px; padding: 4px;">

    @foreach (var server in discord.GetServersThatCanBeAdded((ulong)discordUserId))
    {
        <div style="display: flex;">
            <p>@server.Name (@server.Id)</p>
            <form method="post" asp-page-handler="AddServer" asp-route-serverId="@server.Id">
                <button type="submit">
                    Add
                </button>
            </form>
        </div>
    }

</section>

<a href="@discord.InviteURL" target="_blank">Invite Bot</a>

<h2>Channels</h2>

<section style="border:  2px solid rgb(4, 174, 44); border-radius: 5px; padding: 4px;">
    @foreach (var channel in discord.GetChannels())
    {
        <div style="display: flex;">
            <p>@channel.Name (@channel.Id) @channel.Category</p>
            <form method="post" asp-page-handler="DeleteChannel" asp-route-id="@channel.Id">
                <button type="submit">
                    X
                </button>
            </form>
            <form method="post" asp-page-handler="SetChannelPermissions" asp-route-id="@channel.Id">
                <button type="submit">
                    Perms
                </button>
            </form>
        </div>


    }


</section>


@{
    var p1 = new TestCandidate
    {
        Id = Guid.Parse("ef1775d5-c97a-48b7-a7b4-f649b603a4af"),
        Preferences = new Preferences
        {
            Days
    = DaysOfTheWeek.Monday | DaysOfTheWeek.Tuesday | DaysOfTheWeek.Wednesday
        }
    };
    var p2 = new TestCandidate
    {
        Id = Guid.Parse("ef2775d5-c97a-48b7-a7b4-f649b603a4af"),
        Preferences = new Preferences
        {
            Days
    = DaysOfTheWeek.Wednesday
        }
    };
    var p3 = new TestCandidate
    {
        Id = Guid.Parse("ef3775d5-c97a-48b7-a7b4-f649b603a4af"),
        Preferences = new Preferences
        {
            Days
    = DaysOfTheWeek.Monday | DaysOfTheWeek.Tuesday
        }
    };
    var p4 = new TestCandidate
    {
        Id = Guid.Parse("ef4775d5-c97a-48b7-a7b4-f649b603a4af"),
        Preferences = new Preferences
        {
            Days
    = DaysOfTheWeek.Monday | DaysOfTheWeek.Tuesday | DaysOfTheWeek.Wednesday
        }
    };

    TestCandidate[] pool = [p2, p3, p4];
    var orderedCandidates = matchmaker.OrderCandidates(p1, pool);

    var matches = matchmaker.Match(p1, pool, 2, scoreRequirement: 0.0m);
}
<p>@p1</p>
<hr>
<div style="display: flex;" class="gap-1">
    <p>@p2</p>
    <p>@matchmaker.GetScore(p1.Preferences, p2.Preferences)</p>
    <p>s=@Preferences.GetDaysScore(p1.Preferences, p2.Preferences)</p>
</div>
<p>@p3</p>
<p>@matchmaker.GetScore(p1.Preferences, p3.Preferences)</p>
<p>@p4</p>
<p>@matchmaker.GetScore(p1.Preferences, p4.Preferences)</p>

<ol style="border: 1px solid yellow;">

    @foreach (var pair in orderedCandidates)
    {
        <li>@pair.Key - @pair.Value</li>
    }
</ol>

<p>Match</p>

<ol style="border: 1px solid yellow;">

    @foreach (var match in matches)
    {
        <li>@match</li>
    }
</ol>
