@page
@model Student.CoursePreferencesModel
@using QuickFinder.Domain.Matchmaking;
@inject UserService userService;
@{
    ViewData["Title"] = "Course Preferences";
    DaysOfTheWeek[] days = [DaysOfTheWeek.Monday, DaysOfTheWeek.Tuesday, DaysOfTheWeek.Wednesday, DaysOfTheWeek.Thursday,
DaysOfTheWeek.Friday, DaysOfTheWeek.Saturday, DaysOfTheWeek.Sunday];

    StudyLocation[] studyLocations = [StudyLocation.Online, StudyLocation.InPerson];
}
@if (Model.ReturnUrl == null)
{
    <a class="nav-link" asp-page="@StudentRoutes.CourseOverview()" asp-route-courseId="@Model.CourseId">Go Back</a>
}


<h1>Course preferences </h1>
<h5>Select which criteria to match you by</h5>


<partial name="_StatusMessage" for="StatusMessage" />

<form method="post">
    <input hidden asp-for="CourseId">
    <div asp-validation-summary="All" class="text-danger" role="alert"></div>

    <label>Available days:</label>
    @foreach (var day in days)
    {
        <div class="form-check mx-4">
            <input class="form-check-input" type="checkbox" value="@day" name="Input.Days" @(Model.Input.Days.HasDay(day) ?
                                                                                                       "checked" : "") />
        <label class="form-check-label">@day</label>
    </div>
        }

    <br></br>

    <label asp-for="Input.NewAvailability" class="form-label"></label>
    <select asp-for="Input.NewAvailability" class="form-control w-25">
        <option value="@Availability.Daytime">Day</option>
        <option value="@Availability.Afternoons">Afternoon</option>
    </select>
    <span asp-validation-for="Input.NewAvailability" class="text-danger"></span>
    <br></br>

    <label>Preferred study location:</label>
    @foreach (var location in studyLocations)
    {
        <div class="form-check mx-4">
            <input class="form-check-input" type="checkbox" value="@location" name="Input.StudyLocation"
                @(Model.Input.StudyLocation.HasFlag(location) ? "checked" : "") />
            <label class="form-check-label">@location</label>
        </div>
    }
    <br></br>

    <label>Languages:</label>
    @foreach (var language in Enum.GetValues<LanguageFlags>())
    {
        <div class="form-check mx-4">
            <input class="form-check-input" type="checkbox" value="@language" name="Input.SelectedLanguages"
                @(Model.Input.SpokenLanguages.HasFlag(language) ? "checked" : "") />
            <label class="form-check-label">@language</label>
        </div>
    }
    <br></br>

    <button class="btn btn-primary" type="submit">Save</button>
</form>
