@page
@model Student.CourseOverviewModel
@inject UserService userService;
@{
    ViewData["Title"] = "Course Overview";
}
<div class="text-center">
    <h1>Course overview for @Model.Course.Name</h1>

    <a asp-page="@StudentRoutes.CoursePreferences()" asp-route-courseId="@Model.Course.Id"
        asp-route-returnUrl="@StudentRoutes.CourseOverview()">
        <button>Change preferences</button></a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Course</th>
                <th>Members</th>
                <th>Complete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.Groups)
            {
                <tr>
                    <td>@group.Id</td>
                    <td>@group.Course.Name</td>
                    <td>
                        @foreach (var member in group.Members)
                        {
                            <p>@await userService.GetName(member)</p>
                        }
                    </td>
                    <td>
                        <p>@group.Members.Count / @group.GroupLimit</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>