@page
@model Student.CoursePreferencesModel
@using QuickFinder.Domain.Matchmaking;
@inject UserService userService;
@{
    ViewData["Title"] = "Course Preferences";
    DaysOfTheWeek[] days = [DaysOfTheWeek.Monday, DaysOfTheWeek.Tuesday, DaysOfTheWeek.Wednesday, DaysOfTheWeek.Thursday,
DaysOfTheWeek.Friday, DaysOfTheWeek.Saturday, DaysOfTheWeek.Sunday];
}
<div class="text-center">
    <h1>Course preferences </h1>
    <h5>Select which criteria to match you by</h5>
</div>

<partial name="_StatusMessage" for="StatusMessage" />

<form method="post">
    <input hidden asp-for="CourseId">
    <div asp-validation-summary="All" class="text-danger" role="alert"></div>

    <label asp-for="Input.NewAvailability" class="form-label"></label>
    <select asp-for="Input.NewAvailability" class="form-control">
        <option value="@Availability.Daytime">Day</option>
        <option value="@Availability.Afternoons">Afternoon</option>
    </select>
    <span asp-validation-for="Input.NewAvailability" class="text-danger"></span>

    <label asp-for="Input.GroupSize" class="form-label"></label>
    <input asp-for="Input.GroupSize" class="form-control" type="number" min="2" max="20" />

    <details>
        <summary>Languages</summary>
        @foreach (var language in Enum.GetValues<Languages>())
        {
            if (Model.Input.SpokenLanguages.Contains(language))
            {
                <input type="checkbox" value="@language" name="Input.SelectedLanguages" checked />
            }
            else
            {
                <input type="checkbox" value="@language" name="Input.SelectedLanguages" />
            }
            <label>@language</label>
        }



    </details>
    <br></br>
    <label>Available days:</label>
    <br></br>
    @foreach (var day in days)
    {
        if (Model.Input.Days.HasDay(day))
        {
            <input type="checkbox" value="@day" name="Input.Days" checked />
        }
        else
        {
            <input type="checkbox" value="@day" name="Input.Days" />
        }
        <label>@day</label>
    }
    <br></br>


    <button type="submit">Save</button>
</form>
