@page
@model CreateGroupModel
@using QuickFinder.Domain.Matchmaking;
@inject UserService userService;
@{
    ViewData["Title"] = "Create Group";
}
<div class="text-center">
    <h1>Create Group</h1>
    <h5>Select preferences for your group</h5>
</div>

<partial name="_StatusMessage" for="StatusMessage" />

<form method="post">
    <input hidden asp-for="Course.Id">
    <div asp-validation-summary="All" class="text-danger" role="alert"></div>

    <label asp-for="Input.NewAvailability" class="form-label"></label>
    <select asp-for="Input.NewAvailability" class="form-control">
        <option value="@Availability.Daytime">Day</option>
        <option value="@Availability.Afternoons">Afternoon</option>
    </select>
    <span asp-validation-for="Input.NewAvailability" class="text-danger"></span>

    <label asp-for="Input.GroupSize" class="form-label"></label>
    <input asp-for="Input.GroupSize" class="form-control" type="number" min="2" max="20" />

    <details>
        <summary>Languages</summary>
        @foreach (var language in Enum.GetValues<Languages>())
        {
            if (Model.Input.SpokenLanguages.Contains(language))
            {
                <input type="checkbox" value="@language" name="Input.SelectedLanguages" checked />
            }
            else
            {
                <input type="checkbox" value="@language" name="Input.SelectedLanguages" />
            }
            <label>@language</label>
        }
    </details>

    <button type="submit">Create</button>
</form>
