@page
@inject UserService userService;
@model Student.GroupsModel
@{
    ViewData["Title"] = "Groups";
}

<div class="text-center">
    <h1 class="display-4">Your Groups</h1>
    <p>@Model.Groups.Count Groups</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Course</th>
                <th>Members</th>
                <th>Complete</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model.Groups)
            {
                <tr>
                    <td title="@group.Id">@group.Name</td>
                    <td>@group.Course</td>
                    <td>
                        @foreach (var member in group.Members)
                        {
                            <p>@member.name</p>
                        }
                    </td>
                    <td>
                        <p>@group.Members.Count / @group.GroupLimit</p>
                    </td>
                    <td>
                        <form asp-page-handler="Leave" asp-route-groupId="@group.Id" method="post">
                            <button type="submit">Leave Group</button>
                        </form>
                        @if (!group.IsFull)
                        {
                            <form asp-page-handler="Search" asp-route-groupId="@group.Id" method="post">
                                <button type="submit">Find member</button>
                            </form>
                            <form asp-page-handler="ChangeAllowAnyone" asp-route-groupId="@group.Id" method="post">
                                <label>Allow anyone to join?</label>
                                <input type="checkbox" asp-for="@Model.AllowAnyone" checked="@group.AllowAnyone"
                                    class="form-check-input" onchange="this.form.submit()" />
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
