@page
@model JoinGroupModel
@inject UserService userService;
@{
    ViewData["Title"] = "Join Group";
}
<div class="text-center">
    @if (Model.Course is not null){
    <h1>Groups for @Model.Course.Name</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Course</th>
                <th>Members</th>
                <th>Complete</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var group in Model.Groups)
            {
                <tr>
                    <td>@group.Id</td>
                    <td>@group.Course.Name</td>
                    <td>
                        @foreach (var member in group.Members)
                        {
                            <p>@await userService.GetName(member)</p>
                        }
                    </td>
                    <td>
                        <p>@group.Members.Count / @group.GroupLimit</p>
                    </td>
                    <td>
                        <form asp-page-handler="JoinGroup" asp-route-id="@group.Id"  method="post">
                            <input hidden asp-for="Course.Id">
                            <input hidden name="groupId" value="@group.Id">
                            <button type="submit">Join Group</button>        
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <footer class="d-flex justify-content-center">
        <form asp-page-handler="CreateGroup" method="post">
            <input hidden asp-for="Course.Id">
            <button type="submit">Create Group</button>
        </form>
    </footer>
    }
    else {
        <p>No course selected</p>
        <a href="@StudentRoutes.Matching()">Go to available courses</a>
    }
</div>