@page
@using QuickFinder.Domain.Matchmaking
@model Student.MatchingModel
@inject UserManager<User> userManager
@inject MatchmakingService matchmakingService
@inject GroupRepository groupRepository
@inject TicketRepository ticketRepository
@{
    ViewData["Title"] = "Matchmaking";

    var user = await userManager.GetUserAsync(User);
}

<div class="text-center">
    <h1 class="display-4">Matchmaking</h1>

    @if (ViewData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @ViewData["SuccessMessage"]
        </div>
    }

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    }

    <form asp-page-handler="Search" method="post" class="mb-4 w-25 mx-auto">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search course..." asp-for="SearchQuery">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <br></br>

    @if (Model.JoinedCourses.Count > 0)
    {
        <h2>Joined Courses</h2>
        <table class="table table-striped border align-middle shadow-sm rounded">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Members</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Course in Model.JoinedCourses)
                {
                    <tr>
                        <td>@Course.Name</td>
                        <td>@Course.Members.Count</td>
                        <td class="d-flex justify-content-center gap-2">
                            @if (user != null && !await groupRepository.CheckIfInGroup(user, Course))
                            {
                                @if (await ticketRepository.CheckIfInQueue(user, Course))
                                {
                                    <form asp-page-handler="LeaveQueue" asp-route-courseId="@Course.Id" method="post">
                                        <button class="btn btn-primary btn-sm" type="submit">Leave queue</button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-page-handler="FindGroup" asp-route-courseId="@Course.Id" method="post">
                                        <button class="btn btn-primary btn-sm" type="submit">Find Group</button>
                                    </form>
                                }
                            }
                            <a asp-page="@StudentRoutes.CourseOverview()" asp-route-courseId="@Course.Id"><button
                                    class="btn btn-primary btn-sm">Overview</button></a>

                            <form asp-page-handler="LeaveCourse" asp-route-courseId="@Course.Id" method="post">
                                <button class="btn btn-danger btn-sm" type="submit">Leave Course</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <br></br>

    <h2>Available Courses</h2>
    <table class="table table-striped border align-middle shadow-sm rounded">
        <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Members</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Course in Model.Courses)
            {
                <tr>
                    <td>@Course.Name</td>
                    <td>@Course.Members.Count</td>
                    <td class="d-flex justify-content-center gap-2">
                        <form asp-page-handler="JoinCourse" asp-route-courseId="@Course.Id" method="post">
                            <button class="btn btn-primary btn-sm" type="submit">Join Course</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@StudentRoutes.Groups()">Go To groups</a>
</div>
