@page
@model Student.PreferencesModel
@using QuickFinder.Domain.Matchmaking;
@{
    ViewData["Title"] = "Preferences";

    DaysOfTheWeek[] days = [DaysOfTheWeek.Monday, DaysOfTheWeek.Tuesday, DaysOfTheWeek.Wednesday,
DaysOfTheWeek.Thursday, DaysOfTheWeek.Friday, DaysOfTheWeek.Saturday, DaysOfTheWeek.Sunday];
}
@{
    <h1>Your Preferences</h1>
    <h5>These will be used when matching with other users.</h5>
    <partial name="_StatusMessage" for="StatusMessage" />

    <form method="post">
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>

        <label>Available days:</label>
        @foreach (var day in days)
        {
            <div class="form-check mx-4">
                <input class="form-check-input" type="checkbox" value="@day" name="Input.Days" @(Model.Input.Days.HasDay(day) ?
                                                                                                           "checked" : "") />
        <label class="form-check-label">@day</label>
    </div>
        }
        <br></br>

        <label asp-for="Input.Availability" class="form-label"></label>
        <select asp-for="Input.Availability" class="form-control w-25">
            <option value="@Availability.Daytime">Day</option>
            <option value="@Availability.Afternoons">Afternoon</option>
        </select>
        <span asp-validation-for="Input.Availability" class="text-danger"></span>
        <br></br>

        <label>Language:</label>
        <br></br>
        @foreach (var language in Enum.GetValues<LanguageFlags>())
        {
            <div class="form-check mx-4">
                <input class="form-check-input" type="checkbox" value="@language" name="Input.SelectedLanguages"
                    @(Model.Input.SpokenLanguages.HasFlag(language) ? "checked" : "") />
                <label class="form-check-label">@language</label>
            </div>
        }
        <br></br>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
}
